<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Casio Calculator</h1>

    <input type="text" style="width: 800px;height:60px;margin-bottom:10px" name="current_text" value="{{current_value}}">
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    <input type="text" name="number_index" value="7" hidden>
    

    <button type="submit">{{number_seven}}</button>
</form>
    <!-- <button>8</button>
        <
    <button>9</button> -->
<form action="{% url 'index' %}" method="post">
    {% csrf_token %}
    
    <button type="submit">{{number_eight}}</button>


    <input type="text" name="number_index" value="8" hidden>
    <!-- <button>8</button>
    <button>9</button> -->
</form>
    <div >
        

    </div>
</body>
</html>